<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{!-- #4 --}}
    {{!-- <link rel="manifest" href="/manifest.json"> --}}
  </head>
  <body>
    {{{body}}}
  </body>
  {{!-- #1 --}}
  {{!-- <script src='/javascripts/pwa.js'></script> --}}
</html>
