<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{!-- #4 --}}
    {{!-- <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#317EFB"/> --}}
  </head>
  <body>
    {{{body}}}
  </body>
  {{!-- #1 --}}
  {{!-- <script src='/javascripts/pwa.js'></script> --}}
</html>
